*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
/app/src/debug/free/google-services.json
/app/src/debug/paid/google-services.json
/app/src/release/free/google-services.json
/app/src/release/paid/google-services.json